<%= form_for @project do |f| %>
    <% if @project.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@project.errors.count, "error") %>
                There are some errors. Please correct before proceeding!
            </h2>
            <ul>
                <% @project.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= f.hidden_field :user_id, value: current_user.id %>
    <h3>Project Field</h3>
    <div>
    <%= f.label 'Name:' %>
    <%= f.text_field :name %>
    </div><br>
    <div>
    <%= f.label 'Description:' %><br>
    <%= f.text_area :description %>
    </div><br>
    <div>
    <%= f.label 'Start Date:' %>
    <%= f.date_field :start_date %>
    </div><br>

    <%= f.fields_for :addresses do |address_fields| %>
        <div>
        <%= address_fields.label 'Street:' %>
        <%= address_fields.text_field :street %>
        </div><br>
        <div>
        <%= address_fields.label 'Line 2:' %>
        <%= address_fields.text_field :line_2 %>
        </div><br>
        <div>
        <%= address_fields.label 'City:' %>
        <%= address_fields.text_field :city %>
        </div><br>
        <div>
        <%= address_fields.label 'State:' %>
        <%= address_fields.text_field :state %>
        </div><br>
        <div>
        <%= address_fields.label 'Zip Code:' %>
        <%= address_fields.text_field :zipcode %>
        </div><br>
    <% end %>

    <div>
    <%= f.label 'Select your service:' %>
    <%= f.collection_check_boxes :service_ids, Service.all, :id, :name %>
    </div><br>

    <%= f.submit %>
<% end %>


f.collection_check_boxe