<!DOCTYPE html>
<html>
  <head>
    <title>ProjectRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <nav class="navbar">
          <ul>
            <li><%= link_to 'HOME', root_path, class: 'link_to' %></li>
            <li><%= link_to 'PROJECTS', projects_path, class: 'link_to' %></li>
            <li><%= link_to 'SERVICES', services_path, class: 'link_to' %></li>
            
              <% if !current_user.nil? %>
              <li><%= link_to current_user.name, user_path(current_user), class: 'link_to' %></li>
              <% end %>
            
          </ul>
      </nav>
      
      <% flash.each do |type, msg| %>
        <div class='flash'>
        <h3><%= msg %></h3>
        </div>
      <% end %>
      
    </div>
   
        <%= yield %>
        
        <div id="footer">
        <ul>
          <li><%= button_to "Log in with Google", '/auth/google_oauth2', class: 'buttonTo' %></li>
        
        <% if current_user %>
          <li><%= link_to 'Sign Out', signout_path, class: 'link_to' %></li>
        <% end %>
        <% if !current_user %>
          <li><%= link_to 'Sign In', signin_path, class: 'link_to' %></li>
          <li><%= link_to 'Sign Up', signup_path, class: 'link_to' %></li>
        <% end %>
        
        </ul>
        </div>

      
  </body>
</html>
